/* Replace the Jenkins logo with your custom logo */
.jenkins-logo img {
    content: url('https://github.com/ybd135/final-project/blob/main/images/ob%20logo.png');
    /* Set the width and height of your custom logo */
    width: 150px;
    height: 40px;
}
